
.container{
    margin-top: 80px;
}

.picture_box{
    width: max-content;
    height: max-content;
    position: relative;
    margin-left: 10px;
    margin-bottom: 30px;
}

.inset{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: inset 0px 0px 20px white;
}

.picture{
    z-index: 0;
    width: 120px;
    border-radius:5px;
}

.display_frame{
    width: 100%;
    height: max-content;
    background-color: var(--secondary);
    border-radius: 15px;
    overflow: auto;
}

.confirmed{
    color: white;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    width: max-content;
    height: max-content;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(122, 122, 122);
}

.confirmed_icon{
    width: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.confirmed_text{
    width: max-content;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-weight: 300;
    font-size: 15px;
    color: white;
}

.confirmed_title{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 0;
    height: max-content;
}

.confirmed_date{
    color: white;
    margin-top: 0px;
    opacity: 0.7;
    height: max-content;
    width: max-content;
    margin-left: 20px;
    font-size: 15px;
}

.valid{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
}

.data_holder{
    z-index: -2;
    width: 100%;
    border-radius: 15px;
    background-color: var(--secondary);
    height: max-content;
    margin-top: 30px;
    margin-bottom: 260px;
}

.inner_holder{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
}

.data_box{
    height: max-content;
    width: 100%;
    height: max-content;
    border-bottom: 1px solid var(--gray-border);
}

.data_title{
    color: white;
    width: max-content;
    height: max-content;
    margin-top: 15px;
    margin-bottom: auto;
    font-weight: 400;
    font-size: 15px;
}

.data_subtitle{
    color: white;
    font-weight: 500;
    font-size: 20px;
    margin-top: auto;
    height: max-content;
    margin-bottom: 15px;
}

.share_button{
    top: auto;
    bottom: 20px;
}

.share{
    height: 135px;
}

.loading{
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(214, 214, 214);
}

.loading_bar{
    border-radius: 20px;
    background-color: var(--text);
    height: 100%;
}

.timer_highlight{
    color: white;
    font-weight: 600;
    font-style: italic;
}

.timer{
    color: white;
    margin-top: 7px;
    margin-bottom: 0;
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
}