
.container{
    margin-top: 70px;
    font-weight: 600;
    font-size: 23px;
}

.frame{
    background-color: white;
    width: 100%;
    height: 90px;
    border-radius: 20px;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: max-content max-content;
    margin-bottom: 30px;
}

.pearson{
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    margin-left: 15px;
}

.description{
    color: white;
    margin-left: 20px;
    font-size: 20px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
}

.frame_double{
    height: max-content;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
}

.top{
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 15px;
    height: max-content;
}

.bottom{
    font-size: 20px;
    width: 70%;
    font-weight: 500;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: 15px;
    height: max-content;
}

.list{
    margin-top: auto;
    margin-bottom: 15px;
}

.list li{
    font-weight: 500;
    font-size: 20px;
    width: 75%;
}

.list li::marker{
    font-size: 15px;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.share{
    position: fixed;
    bottom: 100px;
    width: 100%;
    left: 0;
    height: 80px;
    background-color: var(--background);
    overflow: auto;
}

.share_button{
    width: 90%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: white;
    display: block;
    border-radius: 40px;
}